*, *::after, *::before {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {

    background-color: #d3f0cd;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;

}

.input-padrao,
.botao {

    transition: all 0.2s ease-in-out;

}

.wrapper {

    margin: 30px auto;
    width: 700px;

}

.box {

    background-color: #fff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;

}

.box-letras-digitadas {

    background-color: #fff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;

}

.titulo {

    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;

}

.formulario {

    align-items: center;
    display: flex;
    gap: 10px;

}

.formulario input {

    flex-grow: 1;

}

.input-padrao {

    background-color: #efefef;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    height: 30px;
    padding: 0 10px;

}
.input-padrao:focus {

    background-color: #fff;
    border-color: #35614c;

}

.botao {

    background-color: #35614c;
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    height: 30px;
    padding: 0 10px;
    text-transform: uppercase;

}
.botao:hover {

    background-color: #5d9479;

}
.botao:disabled {

    background-color: #aaa;
    cursor: not-allowed;

}

.reiniciar-jogo {

    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.box-letras-digitadas {

    position: absolute;
    top: 30px;
    right: 30px;

}

.box-letras-digitadas h2 {

    font-size: 24px;
    margin-bottom: 30px;

}


.forca {

    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}
.forca img {

    display: block;
    max-height: 200px;

}

.letras-descobertas {

    display: flex;
    font-size: 40px;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;

}